<header class="top">
    <div class="title-group">
        <div class="header-title">{{ header_title|default:"CajaPulso" }}</div>
        <div class="header-subtitle">{{ header_subtitle|default:"Sistema de control" }}</div>
    </div>

    {% if messages %}
    <div class="global-messages-container">
        {% for message in messages %}
        <div class="mensaje-inline {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="top-actions">
        <div class="icon-btn">
            <i class="fa-solid fa-bell"></i>
            <span class="dot"></span>
        </div>
        <div class="icon-btn" id="btn-configuracion">
            <i class="fa-solid fa-gear"></i>
        </div>

        {% include 'includes/header_dropdown.html' %}

        <div class="user-profile">
            <div class="u-avatar">
                {% if user.foto_perfil %}
                <img src="{{ user.foto_perfil.url }}" alt="Avatar"
                    style="width: 100%; height: 100%; object-fit: cover; border-radius: 10px;">
                {% else %}
                <i class="fa-solid fa-circle-user"></i>
                {% endif %}
            </div>
        </div>
    </div>
</header>