{% extends 'base.html' %}
{% load static %}

{% block title %}Gestionar foto - CajaPulso{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/configuracion.css' %}">
{% endblock %}

{% block content %}
<div class="dash">
    {% include 'includes/sidebar.html' with active_module='configuracion' %}

    <main class="main">
        {% include 'includes/header.html' with header_title="Configuración" header_subtitle="Gestionar foto" %}

        <div class="content-body">
            <div class="card-large">
                <div class="card-header">
                    <div class="card-title-group">
                        <span class="label">Fotografía de Perfil</span>
                    </div>
                </div>

                <form method="post" enctype="multipart/form-data" class="mt-panel">
                    {% csrf_token %}

                    <div class="foto-panel">

                        <div class="foto-preview">
                            {% if user.foto_perfil %}
                            <img src="{{ user.foto_perfil.url }}" alt="Foto">
                            {% else %}
                            <span class="foto-inicial">{{ user.nombre|slice:":1"|upper }}</span>
                            {% endif %}
                        </div>

                        <div class="form-control foto-selector">
                            <label for="foto" class="foto-selector-label">SELECCIONAR IMAGEN DESDE TU PC</label>
                            <input type="file" id="foto" name="foto_perfil" accept="image/*"
                                class="foto-selector-input"
                                required>
                        </div>

                        <small class="foto-ayuda">Formatos recomendados JPG o PNG (Max 2MB).</small>
                    </div>

                    <div class="form-footer-box">
                        <div class="acciones-formulario">
                            <button type="submit" class="btn-guardar">Subir fotografía</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>

<script>
    document.getElementById('foto').addEventListener('change', function (e) {
        var label = this.previousElementSibling;
        if (this.files && this.files.length > 0) {
            label.textContent = "ARCHIVO CARGADO: " + this.files[0].name.substring(0, 25);
            label.style.color = "#064e3b";
        } else {
            label.textContent = "SELECCIONAR IMAGEN DESDE TU PC";
            label.style.color = "#06784d";
        }
    });
</script>
{% endblock %}
